<h1>Hola mundo</h1>

<form action="/api/productos" method="post">
    <div class="mb-3">
        <label for="title" class="form-label">Titulo del producto</label>
        <input type="text" name="title" id="">
        <label for="precio" class="form-label">precio</label>
        <input type="number" name="precio" id="">
        <label for="link" class="form-label">link</label>
        <input type="link" name="precio" id="">
        <button class="btn btn-primary">enviar</button>
    </div>
  
    
</form>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">