doctype html

html(lang='en')
  body
    table 
      tr
        th id
        th titulo
        th precio
        th Link de compra
       
  each n in data
   tr
        td= n.id
        td= n.title
        td= n.precio
        td= n.link
  
     